  <div class="mobile-sidebar" id="mobileSidebar">
    <a href="/projects">INDEX</a>
    <a href="/about">ABOUT</a>
    <a href="/press">PRESS</a>
    <a href="/contact">CONTACT</a>
  </div>
  <div class="mobile-menu-btn" id="mobileMenuBtn">
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  
  <script is:inline>
    window.addEventListener('DOMContentLoaded', function() {
      const btn = document.getElementById('mobileMenuBtn');
      const sidebar = document.getElementById('mobileSidebar');

      function toggleSidebar() {
        const isOpen = sidebar.classList.contains('open');
        if (isOpen) {
          sidebar.classList.remove('open');
          document.body.style.overflow = '';
        } else {
          sidebar.classList.add('open');
          document.body.style.overflow = 'hidden';
        }
      }

      if (btn) btn.onclick = toggleSidebar;
    });
  </script>


<style>
  .mobile-menu-btn {
    width: 30px;
    z-index: 1101;
    display: flex;
    cursor: pointer;
    position: relative;
    flex-direction: column;
    justify-content: center;
  }
  .mobile-menu-btn .bar {
    width: 100%;
    height: 1px;
    transition: 0.3s;
    border-radius: 2px;
    background: #3D3D3D;
  }
  .mobile-menu-btn .bar + .bar {
    margin-top: 10px
  }
  .mobile-sidebar {
    position: fixed;
    top: 61px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 61px);
    background: #E9E9E9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: right 0.3s;
    z-index: 1100;
  }
  .mobile-sidebar.open {
    right: 0;
  }
  .mobile-sidebar a {
    width: 190px;
    color: #3D3D3D;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: background 0.2s;
    display: block;
    margin-left: auto;
    line-height: 45px;
    min-height: 90.25px;
  }
  .mobile-sidebar a + a {
    border-top: 1px solid #3D3D3D;
  }
  .mobile-sidebar a:last-child {
    border-bottom: none;
  }
  body.mobile .mobile-menu-btn {
    display: block;
  }
</style>